.contact-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section .coop{
    padding: 3%;
    background-color: #6243d3;
    width: 40%;
    height: 30%;
    border-radius: 15px;
    display: flex;
    background-image: url("/me3.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
}

.contact-section .coop .coop-info{
    width: 60%;
    font-size: 2vh;
}

.contact-section .coop .coop-info p{
    font-family: fantasy, Candara;
    letter-spacing: 1px;
}

.contact-section .coop .coop-info .coop-button{
    color: #6243d3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2) ;
    height: 5vh;
    width: 25vh;
    font-size: 120%;
}

.contact-section .coop .coop-info .coop-button:hover{
    /*background-color: #7d5ee3;*/
    cursor: pointer;
}

.contact-section .coop .coop-info .coop-button p{
    margin: 0;
    color: #6243d3;
    font-family: Candara;
    /*font-size: 1.7vh;*/
}

.contact-section .coop .coop-img{
    width: 40%;
    height: 100%;
    /*margin-top: 3vh;*/
}

.contact-section .coop .coop-img img{
    height: 30vh;
    /*width: 100%;*/
    object-fit: cover;
}

@media (max-width: 700px) {
    .contact-section .coop{
        width: 80%;
        /*height: 30vw;*/
    }

    .contact-section .coop .coop-info .coop-button{
        font-size: 2vh;
    }


}