.skills-component{
    width: 100%;
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20vw;
}

.skills-grid .center-skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-grid .center-skill p{
    color: #b0afaf;
    margin-top: 0;
}

.skills-grid .center-skill img{
    width: 60px;
    background-color: transparent;
}